/*多图交替9通用样式*/
.dtjt9_div_img{
    position:relative;
    overflow:hidden;
    border-radius: 13px;
}
.dtjt9_div_img img{
    display:block;
}
.dtjt9_div_text{
    width:100%;
    text-align:left;
    position:absolute;
    right:0px;
    bottom:0px;
    z-index:150;
}
.dtjt9_div_text .dtjt9_div_text_title{
    background:rgba(0,0,0,0.50);
    text-align:left;
    height:35px;
    padding-left: 5%;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
}
.dtjt9_div_text a{
    font-family: PingFangSC-Regular;
    font-size:14px;
    line-height:35px;
    color:#FFF;
    text-decoration: none;
}
.dtjt9_div_text a:link{
    font-family: PingFangSC-Regular;
    font-size:14px;
    line-height:35px;
    color:#FFF;
    text-decoration: none;
}
.dtjt9_div_text a:visited{
    font-size:14px;
    font-weight:bold;
    line-height:35px;
    color:#000;
    text-decoration: none;
}
.dtjt9_div_text a:hover{
    color:red;
}
.dtjt9_div_img .number{
    position:absolute;
    right:5px;
    bottom:37px;
    z-index:100;
}
.dtjt9_div_img .number .nomal{
    width:16px;
    height:16px;
    line-height:16px;
    display:block;
    text-align:center;
    opacity: 0.7;
    background:#6C6D6E;
    float:left;
    color:#FFF;
    margin-right:5px;
    border:1px solid #FFF;
    font-size:12px;
    TEXT-DECORATION:none
}
.dtjt9_div_img .number .current{
    width:16px;
    height:16px;
    line-height:16px;
    display:block;
    text-align:center;
    opacity: 0.7;
    background:red;
    float:left;
    color:#FFF;
    margin-right:5px;
    border:1px solid #FFF;
    font-size:12px;
    TEXT-DECORATION:none
}
