@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{ margin:0; padding:0; }
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{ display:block; }
table{ border-collapse:collapse; border-spacing:0; }
caption,th{ text-align:left; font-weight:normal; }
html,body,fieldset,img,iframe,abbr{ border:0;}
img{vertical-align:top;}
html{ overflow-x:hidden; }
i,cite,em,var,address,dfn{ font-style:normal; }
[hidefocus],summary{ outline:0; }
h1,h2,h3,h4,h5,h6,small{ font-size:100%; }
sup,sub{ font-size:83%; }
pre,code,kbd,samp{ font-family:inherit; }
q:before,q:after{ content:none; }
textarea{ overflow:auto; resize:none; }
label,summary{ cursor:default; }
a,button{ cursor:pointer; }
h1,h2,h3,h4,h5,h6,em,strong,b{ font-weight:bold; }
del,ins,u,s,a,a:hover{ text-decoration:none; }
body,textarea,input,button,select,keygen,legend{ font:13px/1 arial,\5b8b\4f53; color:#333; outline:0; }
:focus { outline:0; }
/*备用样式表*/
.none { display:none; }
.wcb{ width:100%; height:30px; border:2px dashed #97CBE0; }
.hidden { visibility:hidden; }
/* .clear { width:100%; height:0; line-height:0; font-size:0; overflow:hidden; clear:both; display:block; _display:inline; } */
.clearfix:after{
	clear: both;
	content: ".";
	display: block;
	height: 0px;
	width: 0px;
	visibility: hidden;
}
/* .clearfix{ display: block; *zoom:1; } */
.icon{display:inline-block;width: 32px;height: 32px;vertical-align:middle;background:url("icon.png") no-repeat;}
/*css3扩展*/
body:before {content: ""; position: fixed; top: -10px; left: 0; z-index: 110; width: 100%; height: 10px;
 -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
	     box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}
::-webkit-input-placeholder { color:#ccc;}
:-moz-placeholder {color:#ccc;}
::-moz-placeholder { color:#ccc;}
:-ms-input-placeholder { color:#ccc;}
/**布局开始**/
body {
	line-height:1;
	font-size: 14px;
	font-family: "Arial","Microsoft YaHei","\u5b8b\u4f53", Tahoma, Geneva, sans-serif;
	color:#333;}
p{line-height:1.75;}
a {color:#3b3b3b; text-decoration:none; transition:all 0.4s ease-in-out; }
a:hover { color:#095ab5; }
/*页面尺寸*/
.wrapper { width:100vw; margin:0 auto;  }
.wrapper .inner {width: 64.6vw;margin:0 auto;} /**页面全局宽度**/
/*headtop*/
#headtop{background:;}
#headtop .inner{}
.headtop .top-left{float: left;}
.headtop .top-right{float:right;}
/*head开始*/
#header {
	background: #18267e url("../images/header.png") no-repeat center top;
	height: 19.06vw;
	background-size:100%100%;
}
/* #header {background: #197AC1;height: 366px;} */

#header .inner{}
.header .sitelogo{
	float:left;
	height: 5.677vw;
	margin-top: 1.31vw;
}
.header .sitetitle {display:inline-block;margin-top: 28px;margin-left:10px;font-size:32px;font-weight:bold;color:#fff;} /**站点名称**/
.header .head-left{float:left;display:inline-block;}
.header .head-main{float:left;margin-top:1.31vw;}
.header .head-right{float:right;margin-top: 12px;width:200px;}

/*rale样式*/
.site-rale{}
.site-rale ul{}
.site-rale ul li.links{float:left;}
.site-rale ul li.links a{line-height: 35px;padding: 0 12px 0 12px;padding-left: 19px;font-size: 13px;color: #cad3d4;background:url("icon_role.png")/*tpa=http://miv.cumt.edu.cn/_upload/tpl/05/56/1366/template1366/images/icon_role.png*/ no-repeat;}
.site-rale ul li.links a:hover{color:#fff;}
.site-rale ul li.links.i1 a{background-position: 0px 0px;}
.site-rale ul li.links.i2 a{background-position: -90px 0px;}
.site-rale ul li.links.i3 a{background-position: -187px 0px;}
.site-rale ul li.links.i4 a{background-position: -269px 0px;}
/*lang样式*/
.site-lang{}
.site-lang ul{float:right;}
.site-lang ul li.links{float:left;}
.site-lang ul li.links a{line-height: 35px;margin:0px 5px;font-size: 13px;color: #cad3d4;}
.site-lang ul li.links a:hover{color:#fff;}

/*默认主导航样式*/
#nav{background: #004ea1;}
#nav .inner{}
#nav .inner .wp-panel{}/*导航*/
#nav .inner .wp-panel .wp-window{}
#nav .inner .wp-panel .navbg{position:absolute; z-index:-1;left:0;right:0;top:0;bottom:0; width:auto; height:100%;background:#fff;opacity:.7;filter:alpha(opacity=70);}
/*导航样式：后台绑定时也可以定义配置*/
.nav .wp-menu {margin:0 auto}
.nav .wp-menu .menu-item {display: inline-block; float: left; position: relative;}
.nav .wp-menu .menu-item.i1 { background:none;}
.nav .wp-menu .menu-item a > .menu-switch-arrow{ display:inline-block; width:20px; height:20px; background:url("nav_j.png")/*tpa=http://miv.cumt.edu.cn/_upload/tpl/05/56/1366/template1366/images/nav_j.png*/ no-repeat center center;vertical-align:middle; }
.nav .wp-menu .menu-item a.menu-link {display: inline-block;padding: 0 26px;line-height: 42px;color: #FFFFFF;font-size: 16px;}
.nav .wp-menu .menu-item.hover a.menu-link,
.nav .wp-menu .menu-item a.hover{background-color:#1384e2; text-decoration: none; color: #eee;}
.nav .sub-menu {display: none;position: absolute;left: 0;top: 42px;min-width: 146px;z-index: 100;background:#fff;}
.nav .sub-menu .sub-item { position: relative; white-space: nowrap; vertical-align: top; _zoom:1;}
.nav .sub-menu .sub-item a {display: block;color: #000;height: 40px;line-height: 40px;padding: 0 17px;font-size: 14px;background:none;}
.nav .sub-menu .sub-item.hover> a,
.nav .sub-menu .sub-item a:hover{ color: #fff; background-color:#1384e2; display: block; }
.nav .sub-menu .sub-menu { left: 100%; top:0px; z-index: 200; background:#fff;}
/**主页banner开始**/
#banner {background: #e7e2df;}
#banner .inner {width:auto;max-width: 1345px;text-align: center;position:relative;}
/**主体模块样式**/
#m-container {}
#m-container .inner {}
/**首页三列布局**/

.main1{}
.main1 .inner{padding:10px 0px 0px;}
.main1 .ml{float:left; width:360px;padding-top:8px;}
.main1 .mc{float:left; width:380px;margin-left:30px;}
.main1 .mr{float:right;width: 346px;}

.main4{background: #eeeeee;}
.main4 .inner{padding: 15px 0 0;}
.main4 .ml{float:left; width:580px;}
.main4 .mr{float:right;padding-top:25px;}
.main4 .mr .mlink{}

.post1 {
	float:left;
	width: 36%;
}
.post1 .tt {
	float:left;
	width:100%;
	border-bottom: 2px solid #9D090D;
}
.post1 .tt .icon{
	float:left;
	width:1.042vw;
	height:1.042vw;
	overflow: hidden;
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 0.2604vw;
}
.post1 .tt .icon img{
	width: 100%;
}
.post1 .tt .tit {
	float:left;
	width:auto;
	margin-left: 0.4167vw;
	margin-bottom: 0.2604vw;
}
.post1 .tt .tit .title {
	font-size: 0.9375vw;
	font-weight:bold;
	line-height: 1.042vw;
	color:#9D090D;
	cursor:pointer;
	letter-spacing: 0px;
	text-align: left;
}
.post1 .more_btn{
	float:right;
	width:auto;
	margin-bottom: 0.2604vw;
}
.post1 .more_btn a{
	font-size: 0.8333vw;
	color:#EA7477;
}

/*项目新闻*/
.postNews {
	float:left;
	width: 30%;
	margin: 0 2% 2.4625vw 2%;
}
.postNews .tt {
	float:left;
	width:100%;
	border-bottom: 0.1043vw solid #9D090D;
}
.postNews .tt .icon{
	float:left;
	width:1.042vw;
	height:1.042vw;
	overflow: hidden;
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 0.2604vw;
}
.postNews .tt .icon img{
	width: 100%;
}
.postNews .tt .tit {
	float:left;
	width:auto;
	margin-left: 0.4167vw;
	margin-bottom: 0.2604vw;
}
.postNews .tt .tit .title {
	font-size: 1.1458vw;
	font-weight:bold;
	line-height: 1.042vw;
	color:#9D090D;
	cursor:pointer;
	letter-spacing: 0px;
	text-align: left;
}
.postNews .more_btn{
	float:right;	
	width:auto;
	margin-bottom: 0.2604vw;
}
.postNews .more_btn a{
	font-size: 0.8333vw;
	color:#EA7477;
}
.postNews ul{
	margin-top: 1.5625vw;
	margin-left: 0.78125vw;
}

/*通知公告*/
.postNotice {
	float:left;
	width: 30%;
}
.postNotice .tt {
	float:left;
	width:100%;
	border-bottom: 0.1042vw solid #9D090D;
}
.postNotice .tt .icon{
	float:left;
	width:1.542vw;
	height:1.042vw;
	overflow: hidden;
	letter-spacing: 0;
	text-align: center;
	margin-bottom: 0.2604vw;
}
.postNotice .tt .icon img{
	width: 100%;
}
.postNotice .tt .tit {
	float:left;
	width:auto;
	margin-left: 0.4167vw;
	margin-bottom: 0.2604vw;
}
.postNotice .tt .tit .title {
	font-size: 1.1458vw;
	font-weight:bold;
	line-height: 1.042vw;
	color:#9D090D;
	cursor:pointer;
	letter-spacing: 0px;
	text-align: left;
}
.postNotice .more_btn{
	float:right;
	width:auto;
	margin-bottom: 0.2604vw;
}
.postNotice .more_btn a{
	font-size: 0.8333vw;
	color:#EA7477;
}

/**自定义新闻列表**/
.news_list { 
	list-style-type: disc;
}
.news_list li.news {
	line-height: 1.771vw;
	padding-left:0px;
} /**标题图标**/
.news_list li.news span.news_title { 
	float:left; 
	font-size: 0.8333vw;
	font-family: PingFangSC-Regular;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
}/*标题*/
.news_list li.news span.news_title a:hover{ 
	color: #9D090D;;
}/*标题*/

.news_list li.news span.news_title img {
	vertical-align: middle;
}
.news_list li.news span.news_meta {
	float:right;
	margin-left:2px;
	font-size: 0.7292vw;
	color: #9C9C9C;
}/*属性*/
.news_list li.news .news_time,
.news_list li.news .news_time span{
	color: #666;
}/*发布时间*/
.news_list li.news .news_icon {
	display:inline-block;
	margin:0 auto; 
	border:0px solid red;
}
.news_list li.news .news_text {
	line-height:1.146vw; 
	color:#666;
}/*默认简介*/
.news_list li.news .news_bg {
	position:absolute; 
	left:0px;bottom:0px; 
	right:0px; height:1.5625vw; 
	background:#000; 
	opacity:.7; 
	filter:Alpha(opacity=70);
}
.news_list li.news p {
	line-height:1.771vw;
}

/***********************************************************
 * 列表页
 */
/**首页三列布局**/
/**列表页**/
/*栏目图片*/
.l-banner{height: 235px;background-position:center center;background-repeat:no-repeat;text-align:center;}
.l-banner img{display:none;height:100%;vertical-align:top;}
/**主体列表页开始**/
#l-container {}
#l-container .inner {padding:25px 10px;}
/**主体文章页开始**/
#d-container {}
#d-container .inner {background:#fff;}

.col_menu {width: 240px;float:left;margin-right:-240px;position:relative;} 
.col_menu .l-qh{ margin-bottom:10px;}
.col_menu .col_menu_head {background: #0f429b;}/**位置栏目背景**/
.col_menu .col_menu_head h3.col_name {font-size: 18px;font-weight:normal;color:#fff;}/**位置栏目字体**/
.col_menu .col_menu_head h3.col_name .col_name_text { display:block; line-height:50px; padding:0px 5px 0px 30px;}/**栏目名称图标**/
.col_menu .col_menu_con{border:1px solid #e4e4e4;}
/*栏目列表*/
.col_list{}
.col_list .wp_listcolumn { border-top:0px solid #2867A0; border-bottom:0px solid #fff; }
.col_list .wp_listcolumn .wp_column a {color:#333;font-size: 15px;font-weight:normal;background:none;border-top:0px solid #fff;border-bottom: 1px solid #F6EAEA;}
.col_list .wp_listcolumn .wp_column a .column-name{padding:5px 0px 5px 28px;line-height:32px;}
.col_list .wp_listcolumn .wp_column a:hover,
.col_list .wp_listcolumn .wp_column a.selected { color:#0f429b; background:#eee; } 
.col_list .wp_listcolumn .wp_column a.selected span.column-name{color: #0f429b;}
.col_list .wp_listcolumn .wp_subcolumn .wp_column a{ color:#454545;background:none; border-top:1px solid #fff; border-bottom:1px solid #bbb;}
.col_list .wp_listcolumn .wp_column.parent > a .column-name{font-weight:bold; color:#0f429b;}
/*二级子栏目**/
.col_list .wp_listcolumn .wp_column .sub_list a {color:#333;border-top:1px solid #eee;margin-top:-1px;} 	
.col_list .wp_listcolumn .sub_list a .column-name {display:inline-block;line-height: 28px;padding: 5px 10px 5px 44px;cursor:pointer;}
.col_list .wp_listcolumn .sub_list a:hover,
.col_list .wp_listcolumn .wp_column a.selected {font-weight:bold; font-weight:bold;color:#0f429b;} 
/*三级子栏目**/
.col_list .wp_listcolumn .wp_column .sub_list .sub_list a{} 	
.col_list .wp_listcolumn .sub_list .sub_list a .column-name {padding: 5px 10px 5px 60px;cursor:pointer;}
.col_list .wp_listcolumn .sub_list .sub_list a :hover,
.col_list .wp_listcolumn .sub_list .sub_list a.selected {font-weight:bold; color:#0f429b;} 
/**栏目新闻**/
.col_news {width: 100%;min-height:500px;float:right;} 
.col_news .col_news_box{margin-left: 290px;}
.col_news_head {border-bottom: 1px solid #DBDBDB;}
.col_metas .col_title { display:inline-block; float:left; height: 48px; line-height: 48px; }  /**当前栏目**/
.col_metas .col_title h2 {display:inline-block;font-size: 18px;font-family:"Microsoft yahei";font-weight: normal;color: #0f429b;border-bottom: 3px solid #CBCBCB;}
.col_metas .col_path {display:inline-block;float:right;white-space:nowrap;height: 46px;line-height: 46px;color: #666;} /**当前位置**/
.col_metas .col_path a{color: #2F2F2F;}
.col_news_con { padding:5px 0px 10px 0px; margin:0 0px;}
.col_news_list { margin-top:7px;}
.col_news_list .wp_article_list .list_item {} /**栏目新闻列表**/
.col_news_list .wp_article_list .list_item .Article_Index {}  /**栏目新闻图标序号**/
.col_news_list .wp_entry,.col_news_list .wp_entry p { line-height:1.75; font-size:14px; color:#333;}
.col_news_list .wp_entry p { margin-bottom:10px;}
.col_news_list .wp_entry table{ margin-bottom:4px;}
.col_news_list .wp_entry img { max-width:680px; _width:expression(this.width > 680 ? "680px" : this.width); } /**列表页文章图片大小限制**/
/**文章页**/
.infobox {padding:20px 60px; margin:0 auto; width:auto;}
.article {padding-top:10px;}
.article h1.arti_title {line-height: 36px;font-family: "Microsoft YaHei";font-size:22px;text-align:center;color: #182880;} /**文章标题**/
.article h2.arti_title {line-height: 34px;font-family: "Microsoft YaHei";font-size: 17px;text-align:center;color: #1B1B1B;} /**文章副标题**/
.article .arti_metas {padding:10px;text-align:center;/* border-top:1px solid #ececec; */}
.article .arti_metas span { margin:0 5px; font-size:12px; color:#787878;}/**文章其他属性**/
.article .entry { margin:0 auto; overflow:hidden;margin-top:10px;} /**文章内容**/
.article .entry .read,.article .entry .read p { line-height:1.75; font-size:14px; color:#333;}  /**阅读字体**/
.article .entry .read p { margin-bottom:10px;}
.article .entry .read img {margin:0 auto; max-width:940px; _width:expression(this.width > 940 ? "940px" : this.width); }   /**文章阅读部分图片大小限制**/
.article .entry .read table{margin:0 auto; border:none!important;}
/**页脚开始**/
#footer {background: #B6161B;}
#footer .inner {padding:0.625vw 0px;position:relative;}
#footer .inner .foot-left{float:left;padding:0.625vw 0px;margin-top:0.521vw;}
#footer .inner .foot-right{float:right;margin-top: 0.625vw;}
#footer .inner p{font-size: 0.625vw;
	line-height: 1.093vw; font-weight:normal;text-align:left;color: #fff;}
#footer .inner p span { margin:0 3px; }
#footer .inner .copyright{}
#footer .inner .copyright span{}
#footer .inner .copyright a{color:#eee;}
/**************************************************************
 * 组件功能
 */
/*列表页*/
/*banner*/
.mbanner .focus .focus-title-bar {bottom:40px;left: 40px;margin-left:0px;}
.mbanner .focus .focus-title-bg {background-color: #000;opacity: 0.4;filter:alpha(opacity=60);}

.mbanner .focus .focus-pagination {position:absolute;right: 14px;bottom: 14px;margin-right: 0px;z-index:60;}
.mbanner .focus .focus-page { display:inline-block; width:9px; height:9px;  margin-right:6px;background:#fff;}
.mbanner .focus .focus-page-active {width:18px;background: #fff;opacity:1; filter:Alpha(opacity=100);}

.mbanner .focus .focus-navigation {width:58px; height:53px; opacity: 0.7; filter:alpha(opacity=70); background:url("slide_next.png")/*tpa=http://miv.cumt.edu.cn/_upload/tpl/05/56/1366/template1366/images/slide_next.png*/ no-repeat; text-indent:-999em;}
.mbanner .focus .focus-navigation:hover {opacity: 1; filter:alpha(opacity=100);}
.mbanner .focus .focus-navigation:active {opacity: 1; filter:alpha(opacity=100);}
.mbanner .focus .focus-prev { left:0px;}
.mbanner .focus .focus-next { right:0px;background-position:right top}

.post-11 .focus .focus-title {height: 34px;line-height: 34px;padding: 0 15px; font-size: 14px;}
.post-11 .focus .focus-title-bar {height: 34px; bottom:0px; left:0px; right:0px; margin-left:0px;}
.post-11 .focus .focus-title-bg {background-color: #000;}

.post-11 .focus .focus-pagination {position:absolute;right: 14px;bottom: 46px;}
.post-11 .focus .focus-page {width: 20px;height: 20px; line-height: 20px; font-size:12px; border-radius: 0px; background-color: #fff; color: #000;}
.post-11 .focus .focus-page span {display:block;}
.post-11 .focus .focus-page:hover {font-size: 13px; color: #000; font-weight: bold; }
.post-11 .focus .focus-page-active {background-color: #146CC1;color:#fff;}

.post-11 .focus .focus-navigation {opacity: 0.7;filter:alpha(opacity=70);}
.post-11 .focus .focus-navigation:hover {opacity: 1; filter:alpha(opacity=100);}
.post-11 .focus .focus-navigation:active {opacity: 1; filter:alpha(opacity=100);}
/*************************************************************
 * 特殊页面
 */
 /*滚动样式*/
.wrapperinner {position: relative;z-index: 1;width: 100%;overflow: hidden; -ms-touch-action: none;}
.scroller {position: absolute; z-index: 1; width: 750px; height: 160px;
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
   -o-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-text-size-adjust: none;
   -moz-text-size-adjust: none;
   -ms-text-size-adjust: none;
   -o-text-size-adjust: none;
   text-size-adjust: none;
}
/*************************************************************
*二级页面
*/
/*组织机构*/
.inss .part_xy{}
.inss .part_xy .item{}
.inss .part_xy .item h3{line-height:40px;padding-left:0px;font-size: 16px;font-weight:normal;color: #1567B1;border-bottom:1px solid #cecece;}
.inss .part_xy .sub-box{float:left; width:100%;padding-top:0px;padding-bottom:5px;}
.inss .part_xy .sub-list{margin-right:0px;}
.inss .part_xy .sub-list .sub-item{float:left; width:33.3%;background: url("icon_arrow2.png")/*tpa=http://miv.cumt.edu.cn/_upload/tpl/05/56/1366/template1366/images/icon_arrow2.png*/ no-repeat left center;}
.inss .part_xy .sub-list .sub-item a{line-height: 35px;padding-left:10px;font-size: 14px;}
.inss .part_xy .sub-img{display:none;float:right;margin-top:15px;margin-left:-250px; width:240px;min-height:80px;}
.inss .part_xy .item.i5 .sub-list .sub-item {width: 50%;}
/*角色*/
.role .part_xy{}
.role .part_xy .item{margin-bottom:10px;display:none;}
.role .part_xy .item.selected{display:block;}
.role .part_xy .item h3{display:none;line-height: 46px;padding-left:0px;font-size:20px;font-weight:bolder;color: #068358;border-bottom:1px solid #f1f1f1;background:none;}
.role .part_xy .sub-list{margin-top:15px;}
.role .part_xy .sub-list .sub-item{padding-top: 10px;padding-bottom: 5px;width:auto;border-bottom:1px solid #f1f1f1;word-wrap: break-word;word-break: normal;}
.role .part_xy .sub-list .sub-item a{line-height: 35px;font-size: 15px;white-space:nowrap;font-weight:bolder;/* color: #068358; */}
.role .part_xy .sub-list .sub-list{margin-top:10px;margin-left:40px;}
.role .part_xy .sub-list .sub-list .sub-item{padding-bottom:5px; padding-top:0px;float:left;margin-right: 50px;border-bottom:0px solid #f1f1f1;}
.role .part_xy .sub-list .sub-list .sub-item a{line-height: 35px;font-size: 15px;white-space:nowrap;font-weight:normal;/* color: #333; */}


/*底部链接*/
.footlinks {
    padding: 0;
}

.footlinks > div {
    margin-top: 1.302vw;
}

.img-responsive
{
	display:block;
	height:4.531vw;
	max-width:100%
}

/**************************头部*************************/

.headerWrapper{
	width: 100%;
	height: 19.0625vw;
	background: rgba(182,22,27,1) url("../images/header.png") no-repeat center top;
	background-size:100%100%;
}
.headerContent{
	width: 64.6%;
	height: 100%;
	margin: 0 auto;
}
.headerContent .logo{
	width: 100%;
	height: 5.677vw;
}
.headerContent .logo .picture{
	width: 29.9%;
	height: 100%;
	background: rgba(182,22,27,0) url("../images/logo.png") no-repeat center top;
	background-size:100%100%;
}

/**************************导航栏*************************/
#mynav{
	width:64.6vw;
	height:3.333vw;
	margin: 0 auto;
	background-color: rgba(151,0,3,0.55);
	}
.mynav{
	width:100%;
	height:3.333vw;
	}
.mynavcontent{
	width:100%;
	height:3.333vw;
	margin-top:1.302vw;
	}
.mynavcontent table{
	width:100%;
	list-style:none;
	text-align:center;
	}
.mynavcontent table tr td{
	float:left;
	width:11.29%;
	height:3.333vw;
	line-height:3.333vw;
	position: relative;

	z-index:200;
	background: #6D0004;
	border-radius: 0.677vw;

	font-family: PingFangSC-Medium;
	color: #FFFFFF;
	font-size: 0.9375vw;
	letter-spacing: 0;
	text-align: center;
	text-shadow: 0 2px 4px rgba(0,0,0,0.50);

	margin-right:1.35%;
	}
.mynavcontent table tr td:last-child{
	margin-right:0px;
	}
.mynavcontent table tr td a{
	color:#FFFFFF;
	display:block;
	letter-spacing:0.1041vw;
	text-decoration:none;
	}
.mynavcontent table tr td a:hover{
	color: #FF555F;
	display: block;
	}
.mynavcontent table tr td ul{
    display: none;
    position: absolute;
	padding: 0px;
	width:100%;
	background-color: rgba(109,0,4,0.69);
	border-radius: 0.677vw 0.677vw 0.677vw 0.677vw;
	}
.mynavcontent table tr td:hover ul{
    display: block;
	}
.mynavcontent table tr td ul li{
	text-align:center;
	background-color: rgba(109,0,4,0.0);
	border-radius: 0px 0px 0.677vw 0.677vw;
	}
.mynavcontent table tr td ul li a{
	color: #FFFFFF;
	}
.mynavcontent table tr td ul li a:hover{	
    color: #FF555F;
	}

/************************************focus*****************************/
.news-slider {
	width:64.6vw;
	height: 20.78vw;
	margin-top: 1.302vw;
	margin: 1.302vw auto 0 auto;
	z-index:200;
	border-radius: 0.677vw;
}
.news-slider .item a:hover {
    transform: scale(1);
}
.news-slider .item a img {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
	transition: transform 0.6s ease-in-out;
	width:100%;
	height:100%;
}
.news-slider .item a:hover img {
    transform: scale(1.02);
}
.news-slider .title {
    width: 100%;
    height: 100%;
    background: url(../img/NewSliderBG.png);
    background-size: cover;
    color: #fff;
    padding: 30px 30px 0 30px;
}
.news-slider .title2 {
    width: 100%;
    height: 100%;
    background: url(../img/sliderBG@2x.jpg);
    background-size: cover;
    color: #fff;
    padding: 30px 18px 0 18px;
}
.news-slider .title h4 {
    position: relative;
    margin: 0;
    line-height: 30px;
    padding-top: 36px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: justify;
    color: #fff;
    font-weight: 900;
    border-bottom: 1px dashed #fff;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 30);
}
.news-slider .title h4 p {
    height: 90px;
    margin-bottom: 0;
    font-size: 20px;
    color: #fff !important;
    text-align: center;
}
.news-slider .title h4 p span {
    display: block;
    text-align: center;
}
.news-slider .title .des {
    width: 80%;
    height: 50px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    color: #fff !important;
}
.news-slider .owl-dots {
    position: absolute;
    bottom: 2vw;
	margin-top: 0 !important;
}
.item a img {
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out;
}

.item a:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.item a:hover p {
    color: #d0021b;
}
/*
 *  Owl Carousel - Core
 */
.owl-carousel {
  display: none;
  /* -webkit-tap-highlight-color: transparent; */
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1; 
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    -moz-backface-visibility: hidden;
	/* fix firefox animation glitch */ 
}
.owl-carousel .owl-stage:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
	height: 0; 
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    /* fix for flashing background */
	-webkit-transform: translate3d(0px, 0px, 0px); 
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0); 
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none; 
}
.owl-carousel .owl-item img {
    display: block;
	width: 100%; 
}
/* .owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
	display: none; 
} */
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
    cursor: pointer;
    cursor: hand;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none; 
}
.owl-carousel.owl-loaded {
	display: block; 
}
.owl-carousel.owl-loading {
    opacity: 0;
	display: block; 
}
.owl-carousel.owl-hidden {
	opacity: 0; 
}
.owl-carousel.owl-refresh .owl-item {
	visibility: hidden; 
}
.owl-carousel.owl-drag .owl-item {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
	user-select: none; 
}
.owl-carousel.owl-grab {
    cursor: move;
	cursor: grab; 
}
.owl-carousel.owl-rtl {
	direction: rtl; 
}
.owl-carousel.owl-rtl .owl-item {
	float: right; 
}
/* No Js */
.no-js .owl-carousel {
  display: block; 
}
/*
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both; 
}
.owl-carousel .owl-animated-in {
  z-index: 100; 
}
.owl-carousel .owl-animated-out {
  z-index: 101; 
}
.owl-carousel .fadeOut {
  animation-name: fadeOut; 
}
@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
	opacity: 0; } 
}
/*
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  transition: height 500ms ease-in-out; 
}
/*
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease; 
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d; 
}
/*
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000; 
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease; 
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
	  transform: scale(1.3, 1.3); 
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none; 
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease; 
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%; 
}
/*
 * 	Default theme - Owl Carousel CSS File
 */
.owl-theme .owl-dots {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	height: 0.2804vw;
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	padding-right: 0.5208vw;
}
.owl-theme .owl-dots .owl-dot span {
	position: relative;
	width: 1.6146vw;
	height: 100%;
	display: block;
	border-radius: 0.2604vw;
	background: rgba(255,255,255,0.70);
	border: 2px solid rgba(255,255,255,0.70);
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	border: 2px solid #B21419;
	border-radius: 0.2604vw;
}

/**************************主体内容*************************/
#content{
	width:64.6vw;
	height:27.6vw;
	margin-top:1.042vw;
}
#contentbg{
	background:#FFFFFF;
}
#mainPageContentTop{
	float: left;
	width:100%;
	background:#FFFFFF;
}
#mainPageContentBottom{
	float: left;
	width:100%;
	background:#FCDDDD;
}
#mainPageContentTop .body1{
	width: 64.6vw;
	height: auto;
	margin: 0 auto;
	margin-top:17.625vw;
}
#mainPageContentBottom .body2{
	width: 64.6vw;
	height: auto;
	margin: 0 auto;
	margin-top: 2.343vw;
}

#show{
	width:100%;
	height:399px;
	margin-top:15px;
}
#listshow{
	visibility:hidden;
	width:100%;
	height:399px;
	overflow:hidden;
	border-radius: 5px;
	margin-left:auto; 
	margin-right:auto;
}
.newsBanner{
	position:relative;
	overflow:hidden;
	width:100%;
	height:auto;
}

/**************************通知公告***************************/
.notice_list { 
	width: 100%;
	margin-top: 1.5625vw;
	list-style-type: none;
}
.notice_item{
	display:block;
	width: 100%;
	line-height: 1.771vw;
	counter-increment: list;
	font-family: PingFangSC-Regular;
	font-size: 0.8333vw;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
}
.notice_item a:hover{
	color: #9D090D;
}
.notice_item:before{
	float: left;
	content: counter(list);
	width:1.042vw;
	height:1.042vw;
	margin-top: 0.3645vw;
	margin-right:0.58125vw;
	line-height: 1.042vw;
	color: #FFFFFF;
	font-size: 0.8333vw;
	letter-spacing: 0;
	font-family: PingFangSC-Medium;
	text-align: center;
	background: #FA6F74;
	border-radius: 50%;
}

/**************************快速通道***************************/

.fastPathContainer{
	float:left;
	width: 36%;
	height: 23.39vw;
	margin-bottom: 2.343vw;
	border-radius: 0.6771vw;
	background: #FCDDDD url("../images/fastBg.png") no-repeat center top;
	background-size: 100%100%;
	border: 0;
	position: relative;
}

.fastPathContainer .title{
	float:left;
	width: 100%;
	height: 2.552vw;
	position: absolute;
	top: 1.5625vw;
	background-image: linear-gradient(-90deg, #F7DFDF 0%, #FEC8C8 50%, #F7DFDF 100%);
}

.fastPathContainer .title .icon{
	float:left;
	width: 10%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: rgba(252,221,221,0);
}

.fastPathContainer .title .icon img{
	height: 55%;
	padding-top:22.5%;
	padding-bottom:20%;
}

.fastPathContainer .title .content{
	float:left;
	width: 75%;
	height: 2.552vw;
	line-height: 2.552vw;
	background: rgba(252,221,221,0);
	font-family: PingFangSC-Medium;
	font-size: 1.146vw;
	font-weight:bold;
	color: #9D090D;
	letter-spacing: 0;
	text-align: left;
}

.fastPathContainer .title .moreBtn{
	float:right;
	width: 15%;
	height: 2.552vw;
	line-height: 2.552vw;
	text-align: center;
	background: rgba(252,221,221,0);
}

.fastPathContainer .title .moreBtn a{
	font-family: PingFangSC-Regular;
	font-size: 0.8333vw;
	color: #EA7477;
	letter-spacing: 0;
}

.fastPathContainer .pathList{
	width: 100%;
	position: absolute;
	top: 5.5vw;
	list-style: none;
}

.fastPathContainer .pathList .item{
	float: left;
	width: auto;
	height: 2.604vw;
	line-height: 2.604vw;
	margin: 0.5208vw 0.2604vw 0.5208vw 0.5208vw;
	padding: 0px 0.5208vw 0px 0.5208vw;
	border-radius: 1.302vw;
	background: #FFFCFC;
	font-family: PingFangSC-Regular;
	font-size: 1.116vw;
	color: #333333;
	letter-spacing: 0;
	text-align: center;
}

.fastPathContainer .pathList .item a:hover{
	color: #9D090D;
}

.fastPathContainer .projProgress{
	width: 100%;
	position: absolute;
	top: 14vw;
	background: rgba(252,221,221,0);
}

.fastPathContainer .projProgress .container{
	position: relative;
	background: rgba(252,221,221,0);
}

.fastPathContainer .leftCon{
	float: left;
	width: 6.823vw;
	height: 6.667vw;
	position: absolute;
	z-index: 10;
	left: 0.5208vw;
	background: #FFFCFC;
	border-radius: 25px;
}

.fastPathContainer .rightCon{
	float: left;
	width: 15.45vw;
	height: 6.467vw;
	line-height: 6.567vw;
	position: absolute;
	z-index: 1;
	left: 6.3vw;
	top: 0.2vw;
	background: #FCDDDD;
	text-align:center;
	border-radius: 0px 15px 15px 0px;
}

.fastPathContainer .leftCon .name{
	width: 100%;
	font-family: PingFangSC-Regular;
	margin-top: 1.979vw;
	font-size: 1.116vw;
	color: #333333;
	letter-spacing: 0;
	text-align: center;
}

.fastPathContainer .leftCon .moreBtn{
	width: 100%;
	margin-top: 1.823vw;
	text-align: center;
}

.fastPathContainer .leftCon .moreBtn a{
	font-family: PingFangSC-Regular;
	font-size: 0.8333vw;
	color: #EA7477;
	letter-spacing: 0;
}

.fastPathContainer .rightCon .progressList{
	width: 100%;
	height: 100%;
	padding-left: 1.5vw;
	padding-top: 0.3vw;
	padding-bottom: 0.1vw;
	list-style: none;
}

.fastPathContainer .rightCon .progressList li{
	text-align: left;
	height: 20%;
	line-height: 1.616vw;
}

.fastPathContainer .rightCon .progressList li a{
	font-family: PingFangSC-Regular;
	font-size: 0.7291vw;
	color: #666666;
	letter-spacing: 0;
}

.fastPathContainer .rightCon .progressList li a:hover{
	color:#9D090D;
}

/**************************课题设置***************************/

.topicSettingContainer{
	float:left;
	width: 30%;
	height: 23.39vw;
	border-radius: 0.6771vw;
	background: #FDF9F9;
	border: 0;
	position: relative;
	margin: 0 2% 1.5625vw 2%;
}

.topicSettingContainer .title{
	float:left;
	width: 100%;
	height: 2.552vw;
	position: absolute;
	top: 1.5625vw;
	background-image: linear-gradient(-90deg, #F7DFDF 0%, #FEC8C8 50%, #F7DFDF 100%);
}

.topicSettingContainer .title .icon{
	float:left;
	width: 10%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: rgba(252,221,221,0);
}

.topicSettingContainer .title .icon img{
	height: 50%;
	padding-top:30%;
	padding-bottom:20%;
}

.topicSettingContainer .title .content{
	float:left;
	width: 75%;
	height: 2.552vw;
	line-height: 2.552vw;
	background: rgba(252,221,221,0);
	font-family: PingFangSC-Medium;
	font-size: 1.146vw;
	font-weight:bold;
	color: #9D090D;
	letter-spacing: 0;
	text-align: left;
}

.topicSettingContainer .title .content .name{
	margin-left: 0.2604vw;
}

.topicSettingContainer .title .moreBtn{
	float:right;
	width: 15%;
	height: 2.552vw;
	line-height: 2.552vw;
	text-align: center;
	background: rgba(252,221,221,0);
}

.topicSettingContainer .title .moreBtn a{
	font-family: PingFangSC-Regular;
	font-size: 0.8333vw;
	color: #EA7477;
	letter-spacing: 0;
}

.topicSettingContainer .topicList{
	width:91%;
	list-style-type: disc;
	position: absolute;
	top: 5vw;
	margin:0 auto;
	left: 7%;
}

.topicSettingContainer .topicList li{
	text-align: left;
	height: 20%;
	line-height: 1.616vw;
}

.topicSettingContainer .topicList li a{
	font-family: PingFangSC-Regular;
	font-size: 0.8333vw;
	color: #333333;
	letter-spacing: 0;
}

.topicSettingContainer .topicList li a:hover{
	color:#9D090D;
}

/**************************项目管理***************************/

.projMgrContainer{
	float:left;
	width: 30%;
	height: 23.39vw;
	border-radius: 0.6771vw;
	background: #FDF9F9;
	border: 0;
	position: relative;
}

.projMgrContainer .title{
	float:left;
	width: 100%;
	height: 2.552vw;
	position: absolute;
	top: 1.5625vw;
	background-image: linear-gradient(-90deg, #F7DFDF 0%, #FEC8C8 50%, #F7DFDF 100%);
}

.projMgrContainer .title .icon{
	float:left;
	width: 10%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	background: rgba(252,221,221,0);
}

.projMgrContainer .title .icon img{
	height: 50%;
	padding-top:30%;
	padding-bottom:20%;
}

.projMgrContainer .title .content{
	float:left;
	width: 75%;
	height: 2.552vw;
	line-height: 2.552vw;
	background: rgba(252,221,221,0);
	font-family: PingFangSC-Medium;
	font-size: 1.146vw;
	font-weight:bold;
	color: #9D090D;
	letter-spacing: 0;
	text-align: left;
}

.projMgrContainer .title .content .name{
	margin-left: 0.2604vw;
}

.projMgrContainer .title .moreBtn{
	float:right;
	width: 15%;
	height: 2.552vw;
	line-height: 2.552vw;
	text-align: center;
	background: rgba(252,221,221,0);
}

.projMgrContainer .title .moreBtn a{
	font-family: PingFangSC-Regular;
	font-size: 0.8333vw;
	color: #EA7477;
	letter-spacing: 0;
}

.projMgrContainer .mgrList {
	width: 95%;
	position: absolute;
	top: 5vw;
	left: 1vw;
	background: rgba(252,221,221,0);
	list-style-type: none;
}

.projMgrContainer .mgrList li{
	width:100%;
	text-align: left;
}

.projMgrContainer .mgrList li .mgrEntry{
	width:100%;
	height:3.75vw;
	margin-bottom: 1vw;
}

.projMgrContainer .mgrList li .mgrEntry .date{
	float:left;
	width:3.75vw;
	height:auto;
	background: rgba(252,221,221,0);
}

.projMgrContainer .mgrList li .mgrEntry .name a{
	float:left;
	font-family: PingFangSC-Regular;
	font-size: 1.042vw;
	color: #333333;
	letter-spacing: 0;
	text-align: left;
	padding-left: 0.5vw;
	padding-top: 0.3vw;
}

.projMgrContainer .mgrList li .mgrEntry .name a:hover{
	color: #9D090D;
}

.projMgrContainer .mgrList li .mgrEntry .date .day{
	width:100%;
	height:1.979vw;
	line-height: 1.979vw;
	background: #FDCDCD;
	border-radius: 0.104vw;
	font-family: PingFangSC-Medium;
	font-size: 1.25vw;
	color: #9D090D;
	letter-spacing: 0;
	text-align: center;
}

.projMgrContainer .mgrList li .mgrEntry .date .monthYear{
	width:100%;
	height:1.771vw;
	line-height: 1.771vw;
	background: #FCDDDD;
	border-radius: 0.104vw;
	font-family: PingFangSC-Regular;
	font-size: 0.8333vw;
	color: #D39E9E;
	letter-spacing: 0;
	text-align: center;
}

/******************************************页脚***************************************************/

.myfooter{
	display: block;
	width: 100%;
	height: 14.01vw;
	background:#B6161B;
	float: left;
}

.myfooter .footerContainer{
	width: 64.6vw;
	margin: 0 auto;
	height: 100%;
}

.myfooter .footerContainer .shjtLogo{
	float: left;
	width: 40%;
	height: 100%;
	position: relative;
}

.myfooter .footerContainer .shjtLogo .logo{
	width: 15.4vw;
	height: 4.13vw;
	position: absolute;
	top: 2vw;
	background: url("../images/shjtLogo.png") no-repeat;
	background-size: 100%100%;
	/* border: 1px solid white; */
}

/* .myfooter .footerContainer .shjtLogo .content{
	
} */

.myfooter .footerContainer .cooperationLogo{
	float: left;
	width: 60%;
	height: 100%;
	background: rgba(0,0,0,0);
}

/**************************二级页面*******************************/

.subPageBodyWrapper{
	width: 100%;
	height: auto;
	background: #FFF;
}

.subPageBodyWrapper .content{
	width: 64.6%;
	height: auto;
	margin: 0 auto;
}

.subPageBodyWrapper .content .leftBar{
	float: left;
	width: 20%;
	height: auto;
	margin-top: 2vw;
	margin-bottom: 3vw;
}

.subPageBodyWrapper .content .rightContent{
	float: left;
	width: 75%;
	height: auto;
	margin-top: 2vw;
	margin-bottom: 3vw;
}

.subPageBodyWrapper .content .leftBar .header{
	width: 90%;
	height: 3vw;
	line-height: 3vw;
	margin: 0 auo;
	padding-left: 2vw;
	background: rgba(182,22,27,0.7);
	border-top-left-radius: 0.2604vw;
	border-top-right-radius: 0.2604vw;
}

.subPageBodyWrapper .content .leftBar .header .name{
	font-family: PingFangSC-Medium;
	font-size: 1.1458vw;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: left;
}

.subPageBodyWrapper .content .leftBar ul{
	width: 89%;
	height: auto;
	margin: 0 auo;
	list-style: none;
}

.subPageBodyWrapper .content .leftBar ul li{
	width: 100%;
	height: 3vw;
	line-height: 3vw;
	padding-left: 2vw;
	background:none;

	font-family: PingFangSC-Medium;
	font-size: 0.9375vw;
	color: #333333;
	letter-spacing: 0;
	text-align: left;

	border-top:1px solid #fff; 
	border-bottom:1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-left: 1px solid #e4e4e4;
}

.subPageBodyWrapper .content .leftBar ul li:hover,
.subPageBodyWrapper .content .leftBar ul li.selected{
	background:#EEE;
}

.subPageBodyWrapper .content .leftBar ul li:hover a{
	color: #9D090D;
}

.subPageBodyWrapper .content .leftBar ul li a.selected{
	font-weight: bold;
	color:  #9D090D;
}

.subPageBodyWrapper .content .leftBar ul li:last-child{
	border-bottom-left-radius: 0.2604vw;
	border-bottom-right-radius: 0.2604vw;
}

.subPageBodyWrapper .content .rightContent .articleLine{
	width:100%;
	height: 3vw;
	background:none;
	margin-left: 3vw;
	border-bottom: 1px solid #EEE;
}

.subPageBodyWrapper .content .rightContent .article{
	width:100%;
	height: auto;
	margin-left: 3vw;
}

.subPageBodyWrapper .content .rightContent .articleLine .articleName{
	width:auto;
	height: 3vw;
	line-height: 3vw;
	float: left;
	font-family: PingFangSC-Medium;
	font-size: 1.1458vw;
	color: #9D090D;
	letter-spacing: 0;
	text-align: left;
	border-bottom: 3px solid #CBCBCB;
}

.subPageBodyWrapper .content .rightContent .articleLine .location{
	width:50%;
	height: 3vw;
	line-height: 3vw;
	float:right;
	list-style: none;
}

.subPageBodyWrapper .content .rightContent .articleLine .location li{
	width: auto;
	height: 100%;
	float: right;
}

.subPageBodyWrapper .content .rightContent .articleLine .location li a{
	font-family: PingFangSC-Medium;
	font-size: 0.8333vw;
	color: #333333;
	letter-spacing: 0;
	text-align: center;
	margin-left: 0.25vw;
}

.subPageBodyWrapper .content .rightContent .articleLine .location li a:hover{
	color:#9D090D;
}

.subPageBodyWrapper .content .rightContent .article p{
	font-family: PingFangSC-Medium;
	text-indent:2em;
	text-align:left;
	font-size:0.9375vw;
}